@import "_fonts"

body
    font-family "Lato", sans-serif
    background-color ghostwhite
h1
    font-family "Montserrat", sans-serif
    font-size 20pt

.east_title
    color darkblue

.west_title
    color firebrick

.team_window
    width 200px
    text-align center
    p
        font-size 13.7
        margin-top -5

.team_logo
    height 70
    width 70
    margin-top -10
    margin-bottom 30
